*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}


body{

    background:#050510;
    color:white;
    overflow-x:hidden;

}



header{

    position:fixed;
    width:100%;
    top:0;
    backdrop-filter:blur(15px);
    background:#05051099;
    z-index:10;

}



nav{

    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 8%;

}



nav h2{

    font-size:32px;

}


nav span{

    color:#ffb000;

}



nav ul{

    display:flex;
    gap:30px;
    list-style:none;

}


nav a{

    color:white;
    text-decoration:none;

}



.hero{

    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:120px 8%;

}



.hero-text{

    width:50%;

}


.hero h1{

    font-size:55px;

}


.hero span{

    background:linear-gradient(90deg,#ff2b2b,#ffc400);
    -webkit-background-clip:text;
    color:transparent;

}



.hero h3{

    margin:20px 0;
    color:#ffbf00;

}



.hero p{

    font-size:18px;
    line-height:1.7;
    color:#ccc;

}



.btn{

    display:inline-block;
    margin-top:30px;
    padding:14px 35px;
    border-radius:30px;
    background:linear-gradient(90deg,#ff2b2b,#ffc400);
    color:white;
    text-decoration:none;

}




.planet{

    width:350px;
    height:350px;
    border-radius:50%;
    background:

    linear-gradient(145deg,#ff3030,#ffcc00);

    box-shadow:

    0 0 80px #ff8c00;

    animation:float 5s infinite;

}



@keyframes float{

50%{

transform:translateY(-25px);

}

}




.section{

    padding:90px 8%;
    text-align:center;

}



.section h2{

    font-size:40px;
    margin-bottom:30px;

}



.section p{

    max-width:800px;
    margin:auto;
    color:#ccc;
    line-height:1.7;

}



.cards{

    display:flex;
    gap:25px;
    justify-content:center;
    flex-wrap:wrap;

}



.card{

    width:300px;
    padding:30px;
    border-radius:20px;

    background:#11111dcc;

    border:1px solid #ffffff20;

    transition:.3s;

}



.card:hover{

    transform:translateY(-10px);

    box-shadow:0 0 30px #ff8c00;

}



.card h3{

    color:#ffc400;
    margin-bottom:15px;

}




.contact{

    background:
    linear-gradient(145deg,#ff2b2b,#ffb000);

}



footer{

    text-align:center;
    padding:25px;
    background:#020207;

}